.boton{
    width:100px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 200%;
    margin-bottom: 10px;
}
.cajatexto {
    margin-top: 30px;
    font-size: 200%;
    color: blue;
    height: 40px;
}
.fondo{
    background-image: url("../img/fondo.jpg");

    height: 100%;

}
.sombra{
    background-color: rgba(0, 44, 44, 0.5);
    
width: 100%;
height: 100%;
z-index: 4;
}
.fondo-teclado{
    background-color: rgba(0, 44, 44, 0.8);
    height: 100%;
width: 100%;
z-index: 4;
}