<div class="row container mx-auto ">
    <div class="col-md-3 ">
    </div>
    <form onsubmit="nucleo.validandoSorteo(rut.value); return false" class=" animated infinite pulse col-md-6 card fondo-teclado2" style="width:50%; top:100px; position: relative;">
      <div class="row">
            <div class="col-12 mx-auto " style="text-align:center;">
                
                <h1 style="color:white; text-align:center; font-size:200%;" class="animated infinite pulse">Iniciando Sistema</h1>
                    </div>
        
      </div>
